<ion-view title="Lista" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/5MqfOQgEQ0WKDODsollj_descarga.jpg" width="40%" height="auto" style="display:block;">
        </div>
        <h5 id="lista-heading8" style="color:#000000;font-weight:300;text-align:right;" class=" ">Usuario</h5>
        <ion-list id="lista-list10" class=" ">
            <ion-item class="item-icon-right  " id="lista-list-item5" ui-sref="menu.zARABASBAL1">ZAR-ABAS-BAL-01
                <i class="icon ion-android-menu"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="lista-list-item8">ZAR-ABAS-BAL-02
                <i class="icon ion-android-menu"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="lista-list-item9">ZAR-ABAS-BAL-03
                <i class="icon ion-android-menu"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="lista-list-item10">ZAR-ABAS-BAL-04
                <i class="icon ion-android-menu"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>